.formInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
}

form{
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


input{
    padding: 8px 10px;
    margin: 10px 0px;
    border: 2px solid #ddd;
    border-radius: 25px;
    box-sizing: border-box;
    /* width: 45%; */
}

::placeholder{
    font-family: Montserrat;
    
} 
.lblForm{
    margin-left: 0;
    font-family: Montserrat;
    font-size: 100%;
    color: #000000;
}