/*nav{
    height: 100px;
    background-color: aliceblue;
}*/
.navbar {
    
    background-color: blue;
}

.navConnect{
    position: fixed;
    left: 0px;
	top: 0px;
	width: 100%;
    background-color: white;
}